In [6]:
### Imports
import pandas as pd

In [7]:
### Data upload
unicorns = pd.read_csv('List of Unicorns.csv')

### EDA - Unicorns File (downloaded database)

In [8]:
unicorns = unicorns.drop(['No.','Unnamed: 6','Unnamed: 7'], axis=1)
unicorns.head()

,Name,Industry,Country,Valuation ($ Billion),Key Investors
0,Bytedance,Artificial intelligence,China,140.0,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,Other,United States,100.3,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,E-commerce & direct-to-consumer,China,100.0,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,Fintech,United States,95.0,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,Fintech,Sweden,45.6,"Institutional Venture Partners, Sequoia Capita..."