<a href="https://colab.research.google.com/github/Frans-Grau/Project-4_WebScraping/blob/main/F-EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
### Imports
import pandas as pd
import numpy as np
from unicodedata import normalize

In [2]:
### Data upload - csv database
unicorns = pd.read_csv('https://raw.githubusercontent.com/Frans-Grau/Project-4_WebScraping/main/List%20of%20Unicorns.csv')

In [3]:
### Data upload - wikipedia database
table_wiki = pd.read_html('https://en.wikipedia.org/wiki/List_of_unicorn_startup_companies')
wiki_unicorns = table_wiki[2]
wiki_unicorns.to_pickle('wiki_unicorns.pickle')

### EDA - Unicorns File (downloaded database)

In [4]:
unicorns = unicorns.drop(['No.','Unnamed: 6','Unnamed: 7'], axis=1)
unicorns.head()

,Name,Industry,Country,Valuation ($ Billion),Key Investors
0,Bytedance,Artificial intelligence,China,140.0,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,Other,United States,100.3,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,E-commerce & direct-to-consumer,China,100.0,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,Fintech,United States,95.0,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,Fintech,Sweden,45.6,"Institutional Venture Partners, Sequoia Capita..."