<a href="https://colab.research.google.com/github/Frans-Grau/Project-4_WebScraping/blob/main/F-EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
### Imports
import pandas as pd
import numpy as np
from unicodedata import normalize

In [51]:
### Data upload - csv database
unicorns = pd.read_csv('https://raw.githubusercontent.com/Frans-Grau/Project-4_WebScraping/main/Database/List%20of%20Unicorns.csv')

In [52]:
### Data upload - wikipedia database
table_wiki = pd.read_html('https://en.wikipedia.org/wiki/List_of_unicorn_startup_companies')
wiki_unicorns = table_wiki[2]
#wiki_unicorns.to_pickle('wiki_unicorns.pickle')

### EDA - Unicorns File (downloaded database)

In [53]:
unicorns = unicorns.drop(['No.','Unnamed: 6','Unnamed: 7'], axis=1)
unicorns.head()

,Name,Industry,Country,Valuation ($ Billion),Key Investors
0,Bytedance,Artificial intelligence,China,140.0,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,Other,United States,100.3,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,E-commerce & direct-to-consumer,China,100.0,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,Fintech,United States,95.0,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,Fintech,Sweden,45.6,"Institutional Venture Partners, Sequoia Capita..."

### EDA - Table Wiki

In [54]:
wiki_unicorns.head()

,Company,Valuation (US$ billions),Valuation date,Industry,Country/ countries,Founder(s)
0,ByteDance,140,June 2022[13],Internet,China,"Zhang Yiming, Liang Rubo"
1,SpaceX,127,June 2022[13],Aerospace,US,Elon Musk
2,Shein,100,June 2022[13],E-commerce,China,Chris Xu
3,Stripe,95,June 2022[13],Financial services,US / Ireland,Patrick and John Collison
4,Canva,40,September 2021[16],Graphic design,Australia,"Melanie Perkins, Clifford Obrecht, Cameron Adams"

In [55]:
unicorns = unicorns.drop(['Key Investors'], axis = 1)
wiki_unicorns = wiki_unicorns.drop(['Valuation date','Founder(s)'], axis = 1)

In [56]:
unicorns = unicorns[['Name', 'Country','Industry','Valuation ($ Billion)']]
wiki_unicorns = wiki_unicorns[['Company','Country/ countries','Industry','Valuation (US$ billions)']]
print(unicorns.head(3))
print(wiki_unicorns.head(3))

        Name        Country                         Industry  \
0  Bytedance          China          Artificial intelligence
1     SpaceX  United States                            Other
2      SHEIN          China  E-commerce & direct-to-consumer

   Valuation ($ Billion)
0                  140.0
1                  100.3
2                  100.0
     Company Country/ countries    Industry Valuation (US$ billions)
0  ByteDance              China    Internet                      140
1     SpaceX                 US   Aerospace                      127
2      Shein              China  E-commerce                      100

In [57]:
wiki_unicorns = wiki_unicorns.rename(columns ={'Valuation (US$ billions)':'Valuation ($ Billion)', 'Company':'Name', 'Country/ countries':'Country'})

In [58]:
try2 = pd.concat([unicorns,wiki_unicorns], axis=0)
try2.reset_index(inplace=True)
try2 = try2.drop(['index'], axis = 1)

In [63]:
try2

,Name,Country,Industry,Valuation ($ Billion)
0,Bytedance,China,Artificial intelligence,140.0
1,SpaceX,United States,Other,100.3
2,SHEIN,China,E-commerce & direct-to-consumer,100.0
3,Stripe,United States,Fintech,95.0
4,Klarna,Sweden,Fintech,45.6
...,...,...,...,...
1753,Voi,Sweden,NaN,1+
1754,Neo Financial,Canada,Financial technology,1
1755,PhysicsWallah,India,Educational technology,1.1
1756,OneCard,India,Financial technology,1.4+
1757,5ire,India,Technology,1.5+