In [150]:
from bs4 import BeautifulSoup

from getpass import getpass
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
import pandas as pd
import requests
import time

In [151]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get("https://nomadlist.com/")

In [152]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")

In [153]:
screen_height = driver.execute_script("return window.screen.height;")   # get the screen height of the web
i = 1
time.sleep(2)  # Allow 2 seconds for the web page to open
scroll_pause_time = 1
while True:
    # scroll one screen height each time
    driver.execute_script("window.scrollTo(0, {screen_height}*{i});".format(screen_height=screen_height, i=i))  
    i += 1
    time.sleep(scroll_pause_time)
    # update scroll height each time after scrolled, as the scroll height can change after we scrolled the page
    scroll_height = driver.execute_script("return document.body.scrollHeight;")  
    # Break the loop when the height we need to scroll to is larger than the total scroll height
    if (screen_height) * i > scroll_height:
        break

In [160]:
### City Name
city = list(map(lambda name: name.text, driver.find_elements_by_class_name('itemName')))

In [159]:
### Country
country = list(map(lambda cont: cont.text, driver.find_elements_by_class_name('itemSub')))

In [158]:
### Ranking
rank = list(map(lambda rk: rk.text, driver.find_elements_by_class_name('rank')))

In [157]:
### Cost of living
cost = list(map(lambda ct: ct.text, driver.find_elements_by_class_name('price')))

In [ ]:
### Rating

In [161]:
### update lists 
### delete 2 position from city
city.remove('') 
city.remove('Visit Asia')

### delete from country
country.remove('')

### delete from cost
cost.remove('')
del cost[1348:]

ValueError: list.remove(x): x not in list

In [162]:
### Check Lengths
print('cost ', len(cost))
print('rank ', len(rank))
print('country ', len(country))
print('city ', len(city))

cost  1348
rank  1348
country  1348
city  1348

In [163]:
### Create DF
nomadlist = pd.DataFrame({
        'Rank': rank,
        'City': city, 
        'Country': country, 
        'Cost of Living': cost, 
    })

In [172]:
nomadlist.to_pickle('NomadList.pickle')

In [173]:
nomadlist

      Rank              City    Country Cost of Living
0        1            Lisbon   Portugal         $3,464
1        2        Chiang Mai   Thailand         $1,315
2        3      Canggu, Bali  Indonesia         $2,013
3        4           Bangkok   Thailand         $2,090
4        5           Madeira   Portugal         $2,085
...    ...               ...        ...            ...
1343  1344     Dar es Salaam   Tanzania         $1,746
1344  1345  Saint Petersburg     Russia         $2,384
1345  1346            Yangon    Myanmar         $1,330
1346  1347           Baghdad       Iraq         $1,904
1347  1348            Moscow     Russia         $3,041

[1348 rows x 4 columns]